<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome, Maniac Messengers!
      </h4>

      <p>
        We need to talk asap.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>

      <hr />

      <p>
       And don't forget to set your profile picture at <a href="https://en.gravatar.com/">Gravatars</a>
      </p>

    </div>
  </div>
</div>